.Header {
  width: 100%;
  flex: 0 0 80px;
  &-Top {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    background-color: #fff;
  }
  &-Fixed {
    background-color: #060b7c;
    position: fixed !important;
    top: -160px;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    div.navbar-collapse > ul.navbar-nav > li.Item > a.nav-link {
      color: #fff;
    }
  }
  .Item {
    font-size: 14px;
    font-weight: 600;
    a:hover {
      color: #5fcf9b !important;
    }
  }
}