.ProjectListItem {
  display: inline-block;
  &:hover {
    background-color: #F7F8FA;
  }
  .item-cell {
    padding: 16px;
    flex: 0 0 100px;
  }
  .title {
    flex: 1 1 auto;
    display: flex;
    &-logo {
      line-height: 40px;
      img {
        width: 30px;
        background: #fff;
        border: 1px solid #e9e9e9;
        border-radius: 100%;
        text-align: center;
        margin-right: 10px;
      }
    }
    .itemTitle {
      width: 100%;
      .text {
        font-size: 14px;
        font-weight: 500;
        line-height: 33px;
      }
    }
  }
}


.ProjectListItem + .ProjectListItem {
  border-bottom: 1px solid #e9e9e9;
}

.head {
  background-color: rgb(249, 249, 249);
  font-size: 16px;
  font-weight: 500;
}
.item {
  background-color: #fff;
} 